<html>

    <head>
        {% if title %}
        <title>{{ title }} - cyberfoosball</title>
        {% else %}
        <title>Welcome to cyberfoosball</title>
        {% endif %}
        <!-- <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
        <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    </head>

    <body>
        <div>cyberfoosball: <a href="/index">Home</a></div>
        <hr> {% block content %}{% endblock %}
    </body>

</html>
